<li [ngClass]="{'list-group-item' : true,
                'list-group-item-success':postLoveIts > 0,
                'list-group-item-danger':postLoveIts<0}">
  <div class="header">
    <strong> {{postTitle}} </strong>
    <small class="pull-right text-muted">
      {{postCreatedAt | date: 'dd/MM/y, hh:mm a' |uppercase}}
    </small>
  </div>
  <p>{{postContent}}</p>
  <div class="form-group">
    <button class="btn btn-success" (click)="onLoveIt()" >love it</button>&nbsp;
    <button class="btn btn-danger" (click)="onDontLoveIt()">don't love it</button>
  </div>
</li>
